* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2em;
}

.container img {
    width: 500px;
}

.dark {
    background-color: hsl(268, 16%, 52%);
    color: hsl(268, 30%, 30%);
}
.light {
    background-color: hsl(16, 76%, 84%);
    color: hsl(16, 40%, 40%);
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* color: #333; */
}

button {
    display: block;
    padding: 20px 10px;
}